/* General Styles */

html, body {
  height: 100%;
  margin: 10px;
background-image:url('bg.jpg');
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center;
}

/*MAIN SOLAR SYSTEM DIV*/

.solar-system {
  height: 1200px;
  width: 1200px;
  background-color: rgba( 255, 255, 255, .15);
  z-index:1;


}

/*ORBIT DIVS*/

.orbit-0 {
  background: none;
  position: absolute;
  top:375px;
  left:375px;
  border-radius:50%;  
  z-index: 1;

}


.orbit-1 {
  background: none;

  position: absolute;
  height:150px;
  width:150px;
  top:425px;
  left:425px;
  border-radius:50%;  
  border: 2px dashed rgba( 255, 255, 255, .75);
  z-index: 2;

}

.orbit-2 {
  background: none;
  position: absolute;
  top:375px;
  left:375px;
  height: 250px;
  width: 250px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);

  z-index: 3;

}

.orbit-3 {
  background: none;
  position: absolute;
  top:300px;
  left:300px;
  height: 400px;
  width: 400px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);
  
  z-index: 4;

}

.orbit-4 {
  background: none;
  position: absolute;
  top:250px;
  left:250px;
  height: 500px;
  width: 500px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);
  
  z-index: 5;

}

.orbit-5 {
  background: none;
  position: absolute;
  top:200px;
  left:200px;
  height: 600px;
  width: 600px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);
  
  z-index: 6;

}

.orbit-6 {
  background: none;
  position: absolute;
  top:150px;
  left:150px;
  height: 700px;
  width: 700px;
  border-radius:50%;
  border: 2px solid rgba( 255, 255, 255, .75);
  
  z-index: 7;


}

orbit-7 {
	
  background: none;
  position: absolute;
  top:100px;
  right:-100px;
  height: 750px;
  width: 750px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);
  
  z-index: 8;


}

.orbit-8 {
	
  background: none;
  position: absolute;
  top:100px;
  left: 75px;
  height: 850px;
  width: 850px;
  border-radius:50%;
  border: 2px dashed rgba( 255, 255, 255, .75);
  
  z-index: 9;


}

/*PLANET DIVS*/

.sun {
  z-index: 200;
  opacity:0.75;

}

.mercury {

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 200;
}

.venus {

  position: absolute;
  right: -30px;
  top: 140px;
  z-index: 200;
}

.earth {

  position: absolute;
  left: -50px;
  top: 150px;
  z-index: 200;
}

.mars {

  position: absolute;
  right: -40px;
  top: 150px;
  z-index: 200;
}

.jupiter {

  position: absolute;
  right: -10px;
  top: 0px;
  z-index: 200;
}

.saturn {

  position: absolute;
  left: -160px;
  bottom: 0px;
  z-index: 200;
}

.uranus {

  position: absolute;
  left: 180x;
  top: 100px;
  z-index: 200;
}
.neptune {

  position: absolute;
  right: -120px;
  top: 450px;
  z-index: 200;
}


